<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>This is a web application that forecast the next periods based on historical data.</description>
    <display-name>ForecastMaster</display-name>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <description>Enable debugging for the application</description>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>The email address of the administrator, used to send error reports.</description>
        <param-name>webmaster</param-name>
        <param-value>magnus@bigdatamining.se</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>wrcoll</web-resource-name>
            <description>All pages require login access</description>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Two product levels, and 4 roles at customer</description>
            <role-name>BASIC</role-name>
            <role-name>PRO</role-name>
            <role-name>DIRECTOR </role-name>
            <role-name>MDM</role-name>
            <role-name>FORECASTER</role-name>
            <role-name>TRAINER</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Licence for Application version BASIC</description>
        <role-name>BASIC</role-name>
    </security-role>
    <security-role>
        <description>Licence for Application version PRO</description>
        <role-name>PRO</role-name>
    </security-role>
    <security-role>
        <description>Full access</description>
        <role-name>DIRECTOR </role-name>
    </security-role>
    <security-role>
        <description>Can upload new data</description>
        <role-name>MDM</role-name>
    </security-role>
    <security-role>
        <description>Can do forecasting</description>
        <role-name>FORECASTER</role-name>
    </security-role>
    <security-role>
        <description>Can do training</description>
        <role-name>TRAINER</role-name>
    </security-role>
</web-app>
